__pycache__
*.crt
*.key
*.save
*.sublime-project
*.*-workspace
*.*~
tmp
log
pypi
templates
parser_names.csv
cogs/tts/lib
cogs/tts/dic
cogs/tts/outputs
cogs/tts/routine
youtube-cookies.txt
data/*.json
auth.json
.vscode
.DS_Store
\#*\#
!cogs/tts/lib/AquesTalk/aquestalk.c
