__pycache__
*.crt
*.key
*.save
*.sublime-project
*.*-workspace
*.*~
tmp
log
.vscode
.replit
.DS_Store
.vscode
.mypy_cache

cogs/tts/lib
cogs/tts/dic
cogs/tts/outputs
!cogs/tts/outputs/readme.md
cogs/tts/routine
youtube-cookies.txt
data/cookies.txt
data/*.json
auth.json

\#*\#
!cogs/tts/lib/AquesTalk/aquestalk.c
rt_module
__*
eng2kana.json
data/rtlife.json

.python-version
