# util
aiofiles
ujson
nextcord[voice,speed]
aiomysql
pytz
websockets
## OAuth
reprypt
# RT main
onami
jishaku
pillow
emoji
youtube_dl
niconico.py
bs4
pyopenjtalk
psutil
captcha
deep-translator
topggpy
tweepy
speedtest-cli
gTTS
opencv-contrib-python
pyqrcode
pypng
