# rtlibで必要なモジュール
sanic
jinja2
flask-misaka
aiofiles
ujson
discord.py
aiomysql
# rtutilで必要なモジュール
## OAuth
reprypt
# RT本プログラムで必要なモジュール
emoji
youtube_dl
bs4
git+https://github.com/cod-sushi/alkana.py
pykakasi