# rtlib
aiofiles
ujson
nextcord[voice,speed]
aiomysql
pytz
websockets
# rtutil
## OAuth
reprypt
# RT main
pillow
jishaku
emoji
youtube_dl
niconico.py
bs4
pyopenjtalk
pydub
psutil
captcha
deep-translator
topggpy
tweepy
speedtest-cli
gTTS
